body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f8f6;
  color: #333;
}

header {
  background-color: #6fae9b;
  color: white;
  padding: 15px;
  text-align: center;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  background: transparent;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 40px; /* control size here */
}

nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-size: 0.95rem;
}

nav a:hover {
  text-decoration: underline;
}
.hero {
  background: url('images/background_with_scroll.png') center/cover;
  color: white;
  padding: 80px 20px;
  text-align: center;
}

section {
  padding: 40px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #ddd;
}