body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f8f6;
  color: #333;
}

/* NAVBAR */
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px 20px;
  background: transparent;
  box-sizing: border-box;
}

.nav-container {
  max-width: 1100px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo img {
  height: 40px;
  width: auto;
  display: block;
}

/* NAV LINKS */
nav {
  display: flex;
  align-items: center;
}

nav a {
  margin: 0 12px;
  color: white;
  text-decoration: none;
  font-size: 0.95rem;
}

nav a:hover {
  text-decoration: underline;
}

/* HERO SECTION */
.hero {
  height: 100vh;
  background: url('images/background_with_scroll.png') center/cover no-repeat;
  
  color: white;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 20px;
}

/* GENERAL SECTIONS */
section {
  padding: 40px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 10px;
  background-color: #ddd;
}