body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f8f6;
  color: #333;
}

header {
  background-color: #6fae9b;
  color: white;
  padding: 15px;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  background: transparent;
  padding: 10px 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 40px;
  width: auto;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 0.95rem;
}

nav a:hover {
  text-decoration: underline;
}
.logo {
  justify-self: start;
}

nav {
  justify-self: center;
}

.hero {
  height: 100vh;
  background: url('images/background_with_scroll.png') center/cover no-repeat;
}

section {
  padding: 40px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #ddd;
}

.logo img {
  height: 152px;
  width: auto;
}